<div class="container">
    <div class="row">
        <div class="col-md-6 card p-3 mt-2">
            <form #loanForm="ngForm" (ngSubmit)="saveAsDraft(loanForm)">
                
              <div>
                  <label for="loanAmount" class="form-label">Loan Amount:</label>
                  <input type="number" name="loanAmount" class="form-control" [(ngModel)]="loanApplication.loanAmount" required />
                </div>
              
                <div>
                  <label for="annualIncome" class="form-label">Annual Income:</label>
                  <input type="number" name="annualIncome" class="form-control" [(ngModel)]="loanApplication.annualIncome" required />
                </div>
              
                <div>
                  <label for="employmentStatus" class="form-label">Employment Status:</label>
                  <input type="text" name="employmentStatus" class="form-control" [(ngModel)]="loanApplication.employmentStatus" required />
                </div>
              
                <div>
                  <label for="creditScore" class="form-label">Credit Score:</label>
                  <input type="number" name="creditScore" class="form-control" [(ngModel)]="loanApplication.creditScore" required />
                </div>
              
                <div>
                  <label for="residenceType" class="form-label">Residence Type:</label>
                  <input type="text" name="residenceType" class="form-control" [(ngModel)]="loanApplication.residenceType" required />
                </div>
              
                <div>
                  <label for="loanTerm" class="form-label">Loan Term (months):</label>
                  <input type="number" name="loanTerm" class="form-control" [(ngModel)]="loanApplication.loanTerm" required />
                </div>
              
                <div>
                  <label for="propertyAddress" class="form-label">Property Address:</label>
                  <input type="text" name="propertyAddress" class="form-control" [(ngModel)]="loanApplication.propertyAddress" required />
                </div>
              
                <div>
                  <label for="propertyValue" class="form-label">Property Value:</label>
                  <input type="number" name="propertyValue" class="form-control" [(ngModel)]="loanApplication.propertyValue" required />
                </div>
                <button type="submit" class="btn btn-primary mt-2 me-2" *ngIf="loanStatus==='Draft'">Save as Draft</button>
                <button type="button" class="btn btn-primary mt-2 me-2" (click)="updateDraft()" *ngIf="loanStatus==='Editing'">Save</button>
                <button type="button" class="btn btn-primary mt-2 me-2" (click)="SubmitApplication()">Submit</button>
            </form>            
        </div>    
    </div>
</div>
