<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="home">🏦 LoanLift</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item" *ngIf="auth.isCustomer()">
          <a class="nav-link" routerLink="application" routerLinkActive="active">Apply Now</a>
        </li>
        <li class="nav-item" *ngIf="auth.isCustomer()">
          <a class="nav-link" routerLink="drafts" routerLinkActive="active">Drafts</a>
        </li>
        <li class="nav-item" *ngIf="auth.isCustomer()">
          <a class="nav-link" routerLink="submitted" routerLinkActive="active">View Applications</a>
        </li>
        <li class="nav-item" *ngIf="auth.isCustomer()">
          <a class="nav-link" routerLink="suggestedproducts" routerLinkActive="active">Loan Products</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoanOfficer()">
          <a class="nav-link" routerLink="reviewloanapplications" routerLinkActive="active">Review Applications</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLoanOfficer()">
          <a class="nav-link" routerLink="loanproducts" routerLinkActive="active">Loan Products</a>
        </li>

        <li class="nav-item" *ngIf="auth.isLoggedIn()">
          <a class="nav-link" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
